[user]
	email = kj.avelino.cambiaghi@gmail.com
	name = Kelvin-Jesus
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
