.DS_Store
**/.DS_Store

.env
.env.*
!.env.example
*.bak
*.backup
*.orig
*.swp
*.tmp

**/.config/tmux/plugins/
**/.config/zed/conversations/
**/.config/zed/embeddings/
**/.config/zed/prompts/

/.codebase-memory/
/tuis.txt
